

  <div class="panel-body center" ng-init="loadHistory()">
        <h1> History: viaggi effettuati </h1>
       
        {{history.destination}}
        
        <a ng-repeat=" item in history" class="col-md-10 center">
                    <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> 
                    <div class="col-md-9 list-group-item" ng-click="go(item,1)"> Viaggio a {{item.destination}} del {{getDay(item.data)}}</div>
                </a>
    </div>





        
 
      