/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-feb-2016, 12.05.11
    Author     : Matteo
*/

.body{
    position: relative;
    background-color: #333;
    
}
.adjust {
    margin-right: auto; 
    margin-left: auto;
}

.main-container{    
  position: relative;
  top: 70px; 
  width: 70%;
  margin-right: auto; 
  margin-left: auto;

}

.box-container {
    float: right;
}

.panel,
.panel-body,
.panel-heading,
.panel-group,
.panel-default,
.panel-primary{
    border-radius: 4px;
    background-color: #E0E0E0;
}

/*.panel-primary {
    border-color: #c30;
}

.panel-primary > .panel-heading {
    background-image: linear-gradient(to bottom, #c30 0px, orangered 100%);
    background-repeat: repeat-x;
}  */


.panel-trasparent inherit .panel{
    
    background-color: activeborder;  
    
}

.nav-tabs {
    border-bottom: 1px solid #111;    
    margin-left: 15%;
    margin-right: 15%;
}

.tab-content {
    margin-left: 15%;
    margin-right: 15%;
        
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}
.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.center {
    text-align: center;
}

/*
.main-container-signin{
    position: absolute;
    text-align: center;
    top: 30px;
    left: 33%;
    background-color: #E0E0E0;
    padding: 0.5cm 1cm 1cm 1cm;
}


.BGcarousel{    
  position: absolute;
  text-align: center;
  top: 70px;
  width: 100%;
  height: 100%;
    
}

.carousel-inner {
  position: absolute;
  text-align: center;
  top: 70px;
  width: 100%;
  height: 100%;
    
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


.footer{
    height: 30px;
    background-color: lightgray;
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%; 
}
.central-panel{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 20%;
    left: 10%;
}
.central-panel-position{
    position:absolute;
    width: 100%;
    top: 80%;
    left: 10px;
    right: 10px;
    background-color: #E0E0E0;
}
.inline{
    display: inline-block;
}
.map-panel{
    position: absolute;
    width: 100%;
    margin-top: 5%;
    left: 10%;
    background-color: red;
}
#map {
    position:absolute;
    width: 500px;
    height: 400px;
}
/*CSS for CAR/TAXI posts
.inline-cars{
    display: inline-block;
    width: 100%;
}
.transport-panel{
    position: absolute;
    top:50px;
    width: 100%;
    height: 200px;
}
.transport-panel-photo{
    float: left;
    width: 200px;
    heigth: 200px;
    margin-left: 0%;
    display: inline-block;
}
.transport-panel-info{
    width: 33%;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
}
.transport-panel-actions{
    float: right;
    width: 33%;
    height: 100px;
    margin-top: 30px;
    display: inline-block;
}
.transport-comment-block{
    width: 100%;
    position: absolute;
    top: 300px;
}
/* CSS for comments block*/
.comment{
    width: 100%;
    padding-bottom: 30px;
}
.subcomment{
    width: 75%;
    padding-bottom:30px;
    margin-top: 20px;
    margin-left: 20%;
}
img.user-comment{
    display: inline-block;
    float: left;
    width: 26px;
    height: 23px;
    margin-left: 0px;
}
p.existing-comment{
    word-wrap: break-word;
    display: inline-block;
    width: 66%;
}
textarea.user-comment{
    display: inline-block;
    width: 66%;
    height: 40px;
    resize: none;
}
h2.comments-title{
    padding: 10px 10px 40px 10px;
}
p.add-reply{
    color: #2aabd2;
    text-decoration: underline;
    cursor: pointer;
}
.radio-inline-panel{
    padding: 10px;
}
tr.spaceUnder > td
{
  padding-bottom: 1em;
}
/*select {
   width: 150px;
   overflow: hidden;
   background: url(images/arrow.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   padding: 5px 5px 5px 5px;
   font-size: 14px;
   height: 40px;
   text-align: center;
}*/
.chat-message{
    width: 100%;
    background-color: red;
    height: 100px;
}
.chat-sender{
    width: 100%;
    text-align: right;
    background-color: #E0E0E0;
}
.chat-receiver{
    width: 100%;
    text-align: left;
    background-color: #b2dba1;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 2.1em;
  font-size: 30px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.selected {
    color:black;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 200px;
      }
