/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-feb-2016, 12.05.11
    Author     : Matteo
*/

.body{
    position: relative;
    background-color: #333;
    
}
.adjust {
    margin-right: auto; 
    margin-left: auto;
}

.main-container{    
  position: relative;
  top: 70px; 
  width: 70%;
  margin-right: auto; 
  margin-left: auto;

}

.box-container {
    float: right;
}

.panel,
.panel-body,
.panel-heading,
.panel-group,
.panel-default,
.panel-primary{
    border-radius: 4px;
    background-color: #E0E0E0;
}

/*.panel-primary {
    border-color: #c30;
}

.panel-primary > .panel-heading {
    background-image: linear-gradient(to bottom, #c30 0px, orangered 100%);
    background-repeat: repeat-x;
}  */


.panel-trasparent inherit .panel{
    
    background-color: activeborder;  
    
}

.nav-tabs {
    border-bottom: 1px solid #111;    
    margin-left: 15%;
    margin-right: 15%;
}

.tab-content {
    margin-left: 15%;
    margin-right: 15%;
        
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}
.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.span-nav {  
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0 none;
    border: 0 solid transparent;
    border-radius: 0px;
    float: left;
    font-family: "Ek Mukta";
    font-size: 20px;
    margin: 0px 0px 0px 5px;
    outline: 0 none;
    padding: 3px 20px 3px 20px;
    position: relative;
    vertical-align: middle;
}
.span-nav > a {
    color: black;
}


.center {
    text-align: center;
    
}

/* CSS for comments block*/
.comment{
    width: 100%;
    padding-bottom: 30px;
}
.subcomment{
    width: 75%;
    padding-bottom:30px;
    margin-top: 20px;
    margin-left: 20%;
}
img.user-comment{
    display: inline-block;
    float: left;
    width: 26px;
    height: 23px;
    margin-left: 0px;
}
p.existing-comment{
    word-wrap: break-word;
    display: inline-block;
    width: 66%;
}
textarea.user-comment{
    display: inline-block;
    width: 66%;
    height: 40px;
    resize: none;
}
h2.comments-title{
    padding: 10px 10px 40px 10px;
}
p.add-reply{
    color: #2aabd2;
    text-decoration: underline;
    cursor: pointer;
}
.radio-inline-panel{
    padding: 10px;
}
tr.spaceUnder > td
{
  padding-bottom: 1em;
}
.chat-message{
    width: 100%;
    background-color: red;
    height: 100px;
}
.chat-sender{
    width: 100%;
    text-align: right;
    background-color: #E0E0E0;
}
.chat-receiver{
    width: 100%;
    text-align: left;
    background-color: #b2dba1;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 2.1em;
  font-size: 30px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.selected {
    color:black;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 200px;
      }

      
