<div class="panel panel-primary" ng-init="onLoad()">
  <div class="panel-heading">
    <h3 class="panel-title">Area Personale</h3>
  </div>
  <div class="panel-body">
      
        <div> 
            <div id="foto" class="box-container "> <img src="defaultpic_sm.png" alt="user image"></div>           
            <div class="center">
                <h3 id="name">Ciao {{clientInfo.name}}</h3>
                <small> Qui puoi rivedere le informazioni relative al tuo account.</small>
                <br />
            </div>
            
           <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalModify">
               Modifica il profilo.
           </button>
            <br />
            <button type="button" class="btn btn-primary btn-lg" onclick="pass()">
                Offri un passaggio.
            </button>
        </div>
        <br />       

        <div class="proj-account">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab"  ng-click="tab('self')">Info Personali</a></li>
                    <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab"  ng-click="tab('cars')">Info Veicolo</a></li>
                    <li role="presentation"><a aria-controls="messages" role="tab" data-toggle="tab"  ng-click="tab('feed')">Storico Feedback</a></li>
                    </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" id="profile" ng-show="show[0]">
                        <dl class="dl-horizontal" ng-model="clientInfo">
                            <dt>Nome e Cognome</dt>
                            <dd>{{clientInfo.name}} {{clientInfo.surname}}</dd>
                            <dt>Sesso</dt>
                            <dd>{{clientInfo.gender}}</dd>
                            <dt>Età:</dt>
                            <dd>{{clientInfo.age}} anni</dd>
                            <dt>Email</dt>
                            <dd>{{clientInfo.email}}</dd>
                       

                        </dl>
                    </div>
                    <div role="tabpanel"  id="carProfile" ng-show="show[1]">
                        <div></div> 
                         
                        <div class="btn-group"  ng-show="isArray(driversInfo)" role="group" aria-label="...">
                            <button type="button" ng-repeat="item in driversInfo" class="btn btn-default" ng-click="carInfo(item.driver_id)">{{item.carModel}}</button>
                        </div>                        
                        <br/>   
                        <dl class="dl-horizontal" ng-model="selectedCar">
                            <dt>Modello:</dt>
                            <dd>{{selectedCar.carModel}}</dd>
                            <dt>Anno:</dt>
                            <dd>{{selectedCar.carYear}}</dd>
                        </dl>
                            <div></div>    
                        <a href=""> Aggiungi una macchina al tuo profilo</a> <i class="glyphicon glyphicon-question-sign" ng-click="alert()" data-toggle="modal" data-target="#modalInfo"></i>
                    
                    </div>
                    <div role="tabpanel" id="feedback" ng-show="show[2]">
                        <dl class="dl-horizontal" ng-repeat="commenti in commentInfo">
                           
                            <dt>Autore:</dt>
                            <dd>{{commenti.nomeAutore}} {{commenti.cognomeAutore}}</dd>
                            <dt>Testo:</dt>
                            <dd>{{commenti.testoCommento}}</dd>
                            <dt> Feedback </dt>
                            <dd> {{commenti.feedBackCommento}}</dd>
                        
                        </dl>             
                    </div>
                    
                </div>

            </div>

        </div>


  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Viaggi e Prenotazioni</h3>
  </div>
    <div class="panel-body"> 
        <div ng-show="ready">
            <div class="col-md-12" ng-show="showBooked"> <h4>Viaggi Prenotati:</h4>
                <a ng-repeat=" item in bookedTravelsInfo" class="col-md-10 center">
                    <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> 
                    <div class="col-md-9 list-group-item" ng-click="go(item,1)"> Viaggio a {{item.destination}} del {{getDay(item.data)}}</div>
                </a>
                <a ng-repeat=" item in bookedTaxisInfo" class="col-md-10 center">
                    <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-time"></i></div> 
                    <div class="col-md-9 list-group-item" ng-click="go(item,1)"> Viaggio a {{item.destination}} del {{getDay(item.data)}}</div>
                </a>
            </div>
            <div  class="col-md-12" ng-show="showPosted" style="margin-top: 40px">
                <h4>Viaggi Postati:</h4>
                 <a ng-repeat=" item in postedTravelsInfo" class="col-md-10 center">
                    <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> 
                    <div class="col-md-9 list-group-item" ng-click="go(item,2)"> Taxi a {{item.destination}} del {{getDay(item.data)}}</div>
                </a>
                <a ng-repeat=" item in postedTaxisInfo" class="col-md-10 center">
                    <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-time"></i></div> 
                    <div class="col-md-9 list-group-item" ng-click="go(item,2)"> Taxi a {{item.destination}} del {{getDay(item.data)}}</div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalModify" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modifica i dati personali</h4>
      </div>
      <div class="modal-body">
            <form novalidate class="input-group adjust" >
                
                     
           <div class="input-group">
               <h5> Prima di cambiare i dati, inserisci la tua password e aiutaci a verificare che sei proprio tu!</h5>
              <span class="input-group-addon" id="basic-addon1">Vecchia Password</span>
              <input class="form-control" type="password" ng-model="mod.oldPass" aria-describedby="basic-addon1">
          </div>
          <p></p>
                
                <div class="radio-inline-panel">
              <label>Vuoi cambiare la password? </label>
              <label class="radio-inline" ><input type="checkbox" ng-model="changePass"></label>
              </div>
           
           <div class="input-group" ng-show="changePass" >
              <span class="input-group-addon" id="basic-addon2">Nuova Password</span>
              <input class="form-control" type="password" ng-model="mod.newPass" aria-describedby="basic-addon2">
          </div>
          <p></p>
          <div class="input-group" ng-show="changePass" >
              <span class="input-group-addon" id="basic-addon3">Ripeti Nuova Password</span>
              <input class="form-control" type="password" ng-model="mod.newPassRe" aria-describedby="basic-addon3">
          </div> 
          <p></p>
          <div class="input-group">
              <span class="input-group-addon" id="basic-addon7">Foto Profilo: </span>
              <input class="form-control" type="text" ng-model="mod.urlPhoto" aria-describedby="basic-addon7">
         </div>
          
          
          <p></p>
          <div class="input-group" >
              <span class="input-group-addon" id="basic-addon4">Nome</span>
              <input name="name" class="form-control" type="text" ng-model="mod.name" aria-describedby="basic-addon4">
          </div> 
          <p></p>
          <div class="input-group" >
              <span class="input-group-addon" id="basic-addon5">Cognome</span>
              <input name="name" class="form-control" type="text" ng-model="mod.surname" aria-describedby="basic-addon5">
          </div> 
          <p></p>
          <div class="input-group" >
              <span class="input-group-addon" id="basic-addon6">Età</span>
              <input name="name" class="form-control" type="text" ng-model="mod.age" aria-describedby="basic-addon6">
          </div>   
          <p></p>
          <div class="radio-inline-panel">
              <label>Sesso: </label>
            <label class="radio-inline" ><input type="radio"  name="optradio" ng-model="mod.gender" ng-value="'M'"/>M</label>
            <label class="radio-inline" ><input type="radio" name="optradio" ng-model="mod.gender" ng-value="'F'"/>F</label>
          </div>
          <p></p>
          <button class="btn btn-lg btn-primary btn-block" ng-click="edit(mod)">Modifica i dati</button>
          
          <p></p>
          <p class="bg-danger" ng-show="ifAlert">{{status}}</p>
      </form>
      </div>
<!--      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>


<!-- Modal -->
<div id="modalInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
<!--      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>-->
      <div class="modal-body">
        <p>{{modalInfo}}</p>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>


