<div class="panel panel-primary" ng-init="onLoad()">
  <div class="panel-heading">
    <h3 class="panel-title">Area Personale</h3>
  </div>
  <div class="panel-body">
      
        <div style="height: 280px "> 
            <div id="foto" class="box-container"> <img src="default-avatar250.jpg" alt="user image"></div>           
            <div id="info">
                <h3 id="name">Ciao {{clientInfo.name}}</h3>
                <small> Qui puoi rivedere le informazioni relative al tuo account.</small>
                <br />
            </div>
            
           <!---->
            <button type="button" class="btn btn-primary btn-lg" onclick="modify()">
                Modifica il profilo.
            </button>
            <br />
            <button type="button" class="btn btn-primary btn-lg" onclick="pass()">
                Offri un passaggio.
            </button>
        </div>
        <br />       

        <div class="proj-account">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab"  ng-click="tab('self')">Info Personali</a></li>
                    <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab"  ng-click="tab('cars')">Info Veicolo</a></li>
                    <li role="presentation"><a aria-controls="messages" role="tab" data-toggle="tab"  ng-click="tab('feed')">Storico Feedback</a></li>
                    </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" id="profile" ng-show="show[0]">
                        <dl class="dl-horizontal" ng-model="clientInfo">
                            <dt>Nome e Cognome</dt>
                            <dd>{{clientInfo.name}} {{clientInfo.surname}}</dd>
                            <dt>Sesso</dt>
                            <dd>{{clientInfo.gender}}</dd>
                            <dt>Età:</dt>
                            <dd>{{clientInfo.age}} anni</dd>
                            <dt>Email</dt>
                            <dd>{{clientInfo.email}}</dd>
                       

                        </dl>
                    </div>
                    <div role="tabpanel"  id="carProfile" ng-show="show[1]">
                        <a href=""> Aggiungi una macchina al tuo profilo</a> <i class="glyphicon glyphicon-question-sign" ng-click="alert()"></i>
                        
                        <dl class="dl-horizontal">
                            <dt>Modello:</dt>
                            <dd>...</dd>
                            <dt>Colore:</dt>
                            <dd>...</dd>
                            <dt>Posti a sedere:</dt>
                            <dd>...</dd>
                            <dt>Grandezza bagagliaio:</dt>
                            <dd>...</dd>
                            
                            

                        </dl>
                    </div>
                    <div role="tabpanel" id="feedback" ng-show="show[2]">...</div>
                    
                </div>

            </div>

        </div>


  </div>
</div>