<!-- Section: services -->
    <section id="service" class="home-section color-dark bg-darkgray">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s"></div>
					<div class="section-heading text-center">
					<h2 class="h-bold">Servizi</h2>
					<div class="divider-header"></div>
					<p>Conpartir ti permette di condividere viaggi e ridurre i costi.</p>
					</div>
					
				</div>
			</div>
                </div>
        <div class="container text-center">
            <div class="row">
                <div class="service-box col-lg-8 col-lg-offset-2 bg-white text-left margintop-10">

                    <div class="col-lg-3 service-icon">
                        <span class="fa fa-cogs fa-5x"></span> 
                    </div>
                    <div class="col-lg-7 service-desc">						
                        <h5>Muoviti in città</h5>
                        <p>
                            Hai bisogno di prenotare un taxi? Trova chi deve fare il tuo stesso tragitto. 
                        </p>
                        <a href="#search" class="btn btn-skin">Cerca un taxi</a>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="service-box col-lg-8 col-lg-offset-2 bg-white text-left margintop-10">

                    <div class="col-lg-3 service-icon">
                        <span class="fa fa-camera fa-5x"></span>                                
                    </div>
                    <div class="col-lg-7 service-desc">
                        <h5>Viaggia</h5>
                        <p>
                            Visita altre città italiane tagliando sui costi della benzina.
                        </p>
                        <a href="#search" class="btn btn-skin">Cerca un viaggio</a>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="service-box col-lg-8 col-lg-offset-2 bg-white text-left margintop-10">

                    <div class="col-lg-3 service-icon">
                        <span class="fa fa-laptop fa-5x"></span>
                    </div>
                    <div class="col-lg-7 service-desc">
                        <h5>Diventa un guidatore</h5>
                        <p>
                            Non trovi ciò che cerchi? Proponiti come guidatore.
                        </p>
                        <a data-toggle="modal" data-target="#modalLogin" class="btn btn-skin">Vai al Login</a>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="service-box col-lg-8 col-lg-offset-2 bg-white text-left margintop-10">               

                    <div class="col-lg-3">
                        <span class="fa fa-mobile-phone fa-5x"></span>
                    </div>
                    <div class="col-lg-7 service-desc">
                        <h5>Pochi semplici passi</h5>
                        <p>
                            Creare un'account è facile e veloce. Ci servono solo un'email e poche informazioni su di te.    
                        </p>
                        <a href="#/register" class="btn btn-skin" data-toggle="modal" data-target="#modalSignup">Registrati ora!</a>
                    </div>


                </div>
            </div>
        </div>

    </section>
    <!-- /Section: services -->


	<!-- Section: search -->
    <section id="search" class="home-section color-dark text-center bg-gray" ng-controller="TravelController">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Ricerca viaggi</h2>
					<div class="divider-header"></div>
					<p>Da qui puoi iniziare la ricerca dei passaggi.</p>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" >
                            <div class="row">
                                <div class="radio-inline-panel">
                                    <label>Tipo di viaggio: </label>
                                  <!--  <label class="radio-inline" ><input type="radio"  name="optradio"  ng-value="true" ng-click="switch('car')"/>Macchina</label>
                                    <label class="radio-inline" ><input type="radio" name="optradio" ng-value="false" ng-click="switch('taxi')"/>Taxi</label>
                                  --><p></p>
                                    <div class="btn-group margintop-10"  role="group" aria-label="...">
                                    <button type="button" class="btn btn-skin" ng-value="true" ng-click="switch('car')">Macchina</button>                                    
                                    <button type="button" class="btn btn-skin" ng-value="false" ng-click="switch('taxi')">Taxi</button>
                                </div>     
                                </div>
                            </div>
                            <div id="cars" ng-show="showCar">  
                                <div class="row margintop-10">
                                    <div class="col-md-6 xs-marginbot-20">
                                        <input name="partenza" class="form-control input-lg" type="text" placeholder="Partenza" ng-model="data.from"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="destinazione" class="form-control input-lg" type="text" placeholder="Destinazione" ng-model="data.to"/> 
                                    </div>
                                </div>
                                <div class="row margintop-10">
                                    <div class="col-md-6 xs-marginbot-20"> 
                                        <input name="giorno"  class="form-control input-lg" id="datepicker" data-provide="datepicker-inline"/>  
                                    </div>
                                    <div class="col-md-6 xs-marginbot-20"> 
                                        <input id="timepicker" placeholder="Ora" type="text" class="form-control input-lg" ng-model="data.time" data-provide="timepicker-inline">        
                                    </div>  
                                    
                                    <a class="btn btn-skin btn-lg margintop-10" ng-click="search(data)" role="button"><i class=" glyphicon glyphicon-search"></i></a>
                                       
                                </div>
                                <p> </p>
                            </div>
                                 <div id="taxis" ng-show="showTaxi">
                                     <div class="row margintop-10">
                                    <div class="col-md-6 xs-marginbot-20">
                                        <input name="partenza" class="form-control input-lg" type="text" placeholder="Partenza" ng-model="data.from"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="destinazione" class="form-control input-lg" type="text" placeholder="Destinazione" ng-model="data.to"/> 
                                    </div>
                                </div>
                                <div class="row margintop-10">
                                    <div class="col-md-6 xs-marginbot-20"> 
                                        <input name="giorno"  class="form-control input-lg" id="datepicker2" data-provide="datepicker-inline"/>  
                                    </div>
                                    <div class="col-md-6 xs-marginbot-20"> 
                                        <input id="timepicker2" placeholder="Ora" type="text" class="form-control input-lg" ng-model="data.time" data-provide="timepicker-inline">        
                                    </div>   
                                    <a class="btn btn-skin btn-lg margintop-10" ng-click="search(data)" role="button"><i class=" glyphicon glyphicon-search"></i></a>
                                       
                                </div>
                                <p> </p>
                                 </div>
                                 <p class="bg-danger center col-lg-6 col-lg-offset-3" ng-show="ifAlert">{{alert}}</p>
                             </div>
                        </div>
                    </div>
                
        <div class =" container margintop-20">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 scrollable-content">
                    <div ng-show="showHead">
                        <h3 class="h-bold">Proposte di viaggi da <b>{{data.from}}</b> a <b>{{data.to}}</b></h3>
                        <a ng-repeat=" item in travelList" class="list-group col-md-12" ng-click="go(item)">
                            <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> 
                            <div class="col-md-9 list-group-item">Viaggio del {{getDay(item.data)}} alle {{getTime(item.time)}}</div> 
                            <div class="col-md-2 list-group-item">{{item.freeSeats}} posti</div>          
                        </a>
                    </div>
                    <div ng-show="empty" class="panel"> 
                        <div class="bg-danger center"> 
                            <h4>Ci dispiace, sembra che nessuno abbia proposto un viaggio per quella data.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
	</section>
	<!-- /Section: search -->


        <!-- Section: FAQ -->
        <section id="FAQ" class="home-section color-dark text-center bg-darkgray">
            <div class="container marginbot-50">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                            <div class="section-heading text-center">
                                <h2 class="h-bold">Frequently Asked Questions</h2>
                                <div class="divider-header"></div>
                                <p>Le funzionalità del sito</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" >
                        <h5 class="h-bold text-right" ng-click="setFaqValue(1)">Come posso proporre un viaggio?</h5>
                        <div class="text-left" ng-show="faqValue == 1">
                            <p>Per proporre un viaggio, devi per forza essere un utente registrato. Registrati qui <a data-toggle="modal" data-target="#modalLSignup">qui</a> (ci vorranno pochi minuti del tuo tempo o fai il <a data-toggle="modal" data-target="#modalLogin">login</a>: una votla nel tuo account, ti basterà cliccare sul pulsante "Offri un passaggio"</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" >
                        <h5 class="h-bold text-right" ng-click="setFaqValue(2)">Come richiedo un contributo spese?</h5>
                        <div class="text-left" ng-show="faqValue == 2">
                            <p>Conpartir non si occupa delle transazioni tra clienti e utenti: accordatevi in privato sul prezzo per ogni condivisione e pagate alla consegna.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" >
                        <h5 class="h-bold text-right" ng-click="setFaqValue(3)">Come posso proporre un viaggio?</h5>
                        <div class="text-left" ng-show="faqValue == 3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum pharetra massa vitae vehicula. Aenean dapibus odio vel turpis porttitor, ac consequat quam interdum. Donec vestibulum nisi eget urna efficitur, at semper mauris tempus. Quisque posuere interdum ante vitae vehicula. Fusce non diam id nulla facilisis scelerisque. Pellentesque non quam neque. Pellentesque rutrum nulla arcu, sit amet varius purus viverra in. Mauris maximus vel est non maximus. Nulla facilisi. Donec lorem nisl, porta in laoreet nec, dapibus vitae enim. Donec consectetur feugiat mauris ut tristique. Mauris purus lorem, rhoncus at congue a, mollis sed lectus. Morbi laoreet elit condimentum tincidunt placerat. Ut hendrerit tellus sed venenatis suscipit. Vivamus efficitur tellus vel diam eleifend, quis ullamcorper leo placerat. 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" >
                        <h5 class="h-bold text-right" ng-click="setFaqValue(4)">Come richiedo un contributo spese?</h5>
                        <div class="text-left" ng-show="faqValue == 4">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum pharetra massa vitae vehicula. Aenean dapibus odio vel turpis porttitor, ac consequat quam interdum. Donec vestibulum nisi eget urna efficitur, at semper mauris tempus. Quisque posuere interdum ante vitae vehicula. Fusce non diam id nulla facilisis scelerisque. Pellentesque non quam neque. Pellentesque rutrum nulla arcu, sit amet varius purus viverra in. Mauris maximus vel est non maximus. Nulla facilisi. Donec lorem nisl, porta in laoreet nec, dapibus vitae enim. Donec consectetur feugiat mauris ut tristique. Mauris purus lorem, rhoncus at congue a, mollis sed lectus. Morbi laoreet elit condimentum tincidunt placerat. Ut hendrerit tellus sed venenatis suscipit. Vivamus efficitur tellus vel diam eleifend, quis ullamcorper leo placerat. 
                            </p>
                        </div>
                    </div>
                </div>

            </div>
       

        
        
	</section>
	<!-- /Section: FAQ -->

        <!-- Section: Chi Siamo-->
        <section id="developers" class="home-section color-dark text-center bg-gray">
            <div class="container marginbot-50">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                            <div class="section-heading text-center">
                                <h2 class="h-bold">Chi siamo?</h2>
                                <div class="divider-header"></div>
                                <p>Il progetto Conpartir è stato ideato e portato a termine da un piccolo gruppo di developer. 
                                    Vuoi saperne di più?</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 bg-white margintop-10 " >
                        <div class="col-lg-4" style="float:right">
                            <img src="MM.png">
                        </div>
                        <h6 class="h-bold text-right margintop-30">Matteo Maponi</h6>
                        <div class="text-left">
                            <p>Ciao, sono Matteo; mi sono occupato principalmente della parte Web del sito, del servizio SOAP e di alcuni sezioni della business logic, oltre che delle scelte di sviluppo.
                                Attualmente sto studiando all'Università di Torino.</p>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 bg-white margintop-10 " >
                        <div class="col-lg-4" style="float:right">
                            <img src="TT.png">
                        </div>
                        <h6 class="h-bold text-right margintop-30">Tomasz Tadrzak</h6>
                        <div class="text-left">
                            <p>Ciao, sono Tomasz; mi sono occupato principalmente della gestione del DB, della business logic e ovviamente della business logic.
                                Attualmente sto studiando presso la magistrale di informatica a Torino.</p>
                        </div>
                    </div>
                </div>

            </div>




        </section>
        <!-- /Section: chi siamo -->

        <!-- Section: contact -->
        <section id="contact" class="home-section nopadd-bot color-dark bg-darkgray text-center">
            <div class="container marginbot-50">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                            <div class="section-heading text-center">
                                <h2 class="h-bold">Contact us</h2>
                                <div class="divider-header"></div>
                                <p>C'é qualcosa di poco chiaro? Non esitare a contattarci!</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div class="row marginbot-80">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <form id="contact-form" class="wow bounceInUp" data-wow-offset="10" data-wow-delay="0.2s">
                            <div class="row marginbot-20">
                                <div class="col-md-6 xs-marginbot-20">
                                    <input type="text" class="form-control input-lg" id="name" placeholder="Enter name" required="required" />
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" id="subject" placeholder="Subject" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
                                                  placeholder="Message"></textarea>
                                    </div>						
                                    <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
                                        Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>	


            </div>
        </section>
        <!-- /Section: contact -->