<div class="panel panel-heading">
    <div class="page-header">
        <h1> Benvenuti su Conpartir </h1>
        <small>Viaggia dove vuoi, con chi vuoi</small>
    </div>
    <div class="panel-body">    
        <h2>Ricerca rapida viaggio</h2>
        <div class="form-horizontal"> 
            <input name="partenza" class="input-group-lg" type="text" placeholder="Partenza" ng-model="data.from"/>            
            <input name="destinazione" class="input-group-lg" type="text" placeholder="Destinazione" ng-model="data.to"/>
            <input name="giorno"  id="datepicker" type=""  ng-model="data.when"/>  
            <a class="btn btn-primary btn-lg" ng-click="search(data)" role="button"><i class=" glyphicon glyphicon-search"></i></a>
        </div>    
    </div>
  
</div>

<!-- <div ng-controller="SliderController">
  <h4>Pager</h4>
  <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
</div>


<div ng-controller="SliderController">
  <div class="carousel" >
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides" class="carousel">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}"  style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
    
    <button ng-click="check()" class="btn" />
  
  </div> -->



        
 
      