<div class="panel panel-heading">
  <h2>Benvenuto!</h2>
  <p>Da qui puoi iniziare la ricerca dei passaggi.</p>
  <div class="form-horizontal"> 
      <input name="partenza" class="input-group-lg" type="text" placeholder="Partenza" ng-model="data.from"/> 
      
      <input name="destinazione" class="input-group-lg" type="text" placeholder="Destinazione" ng-model="data.to"/> 
     
      <input name="giorno" class="input-group-lg" type="" ng-model="data.when"/>  
  
  <a class="btn btn-primary btn-lg" ng-click="search(data)" role="button"><i class=" glyphicon glyphicon-search"></i></a>
  </div>
      
      <br>
  
 
</div>

<div class="panel panel-body">
   <div class="scrollable-content">
    <div class="list-group">
        <h3 ng-show="showHead">Proposte di viaggi da <b>{{data.from}}</b> a <b>{{data.to}}</b></h3>
      <a ng-repeat=" item in travelList.return" class="col-md-12" ng-click="go(item.$$hashKey)">
          <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> <div class="col-md-9 list-group-item">{{item.driver.return[0].name}} partirà il {{getDay(item.data)}} alle {{getTime(item.data)}}</div> <div class="col-md-2 list-group-item">{{item.freeSeats}} posti</div>          
      </a>

    </div>
   </div>
</div>
