<div class="panel panel-heading center" >
  <h2>Benvenuto!</h2>
  <p>Da qui puoi iniziare la ricerca dei passaggi.</p>
  
  <div class="panel panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a aria-controls="cars" role="tab" data-toggle="tab" ng-click="tab('car')">Cars</a></li>
    <li role="presentation">
        <a aria-controls="taxis" role="tab" data-toggle="tab"  ng-click="tab('taxi')">Taxi</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" id="cars" ng-show="showCar">
        <p> </p>
        <div class="form-horizontal"> 
            <input name="partenza" class="input-group-lg" type="text" placeholder="Partenza" ng-model="data.from"/>
            <input name="destinazione" class="input-group-lg" type="text" placeholder="Destinazione" ng-model="data.to"/>     
            <input name="giorno"  id="datepicker"/>
           
            <input id="timepicker" placeholder="Ora" type="text" class="input-small" ng-model="data.time">        
             <a class="btn btn-primary btn-lg" ng-click="search(data)" role="button"><i class=" glyphicon glyphicon-search"></i></a>
            
        </div> 
    </div>
    <div role="tabpanel" id="taxis" ng-show="showTaxi">...</div>
  </div>

</div>
  
  
  
 
</div>

<div class="panel panel-body center">
   <div class="scrollable-content">
    <div ng-show="showHead" class="panel">
        <h3 >Proposte di viaggi da <b>{{data.from}}</b> a <b>{{data.to}}</b></h3>
      <a ng-repeat=" item in prova" class="list-group col-md-12" ng-click="go(item.travel_id)">
          <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> <div class="col-md-9 list-group-item">Viaggio del {{item.data}} alle {{item.time}}</div> <div class="col-md-2 list-group-item">{{item.freeSeats}} posti</div>          
      </a>
        
    <!--     <a ng-show="isSingleElement" ng-model="prova" class="col-md-12" ng-click="go(item.travel_id)">
          <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-road"></i></div> <div class="col-md-9 list-group-item">Viaggio del {{getDay(item.data)}} alle {{getTime(item.time)}}</div> <div class="col-md-2 list-group-item">{{item.freeSeats}} posti</div>          
      </a>
    
    <span ng-repeat=" item in prova" >{{item.data}}</span> -->

    </div>
   </div>
</div>
