<div class="main-container-signin">
      <form class="form-signin" >
          <h2> Login!</h2>
          <label class="sr-only">Email</label>
          <input name="email" class="form-control" type="text" placeholder="Email" ng-model="email"/>
          <label class="sr-only">Password</label>
          <input name="password" class="form-control" type="password" placeholder="Password" ng-model="pass"/>          
          <button class="btn btn-lg btn-primary btn-block" ng-click="prova">Login</button>
          <p>First login? <a href="#/signup">Sign up here.</a></p>
      </form>
</div>

