<div class="panel-primary"  style="margin-right: auto; margin-left: auto">
<form class="input-group" novalidate="" style="margin-right: auto; margin-left: auto">
<h2> Login!</h2>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email</span>
  <input class="form-control" type="text" ng-model="user.email" aria-describedby="basic-addon1" name="email">
</div>
<p></p>
<div class="input-group" >
    <span class="input-group-addon" id="basic-addon2">Password</span>
    <input class="form-control" type="password" ng-model="user.pass" aria-describedby="basic-addon2" name="password">
</div>
<p></p>
<button class="btn btn-lg btn-primary btn-block" ng-click="login(user)">Login</button> 
<button class="btn btn-lg btn-primary btn-block" ng-click="FBLogin()">FB Login!</button> 

<p></p>

<p class="bg-danger" ng-show="ifAlert">{{status}}</p>
<p>
Primo login?
<a href="#/signup">Registrati qui.</a>
</p>
</form>
</div>
