<div class="main-container-signin">
      <form novalidate class="form-signin" >
          <h2> Login!</h2>
          <label class="sr-only">Email</label>
          <input name="email" class="form-control" type="text" placeholder="Email" ng-model="user.email"/>
          <label class="sr-only">Password</label>
          <input name="password" class="form-control" type="password" placeholder="Password" ng-model="user.pass"/>          
          <button class="btn btn-lg btn-primary btn-block" ng-click="login(user)">Login</button>
          <p>Primo login? <a href="#/signup">Registrati qui.</a></p>
      </form>
</div>

