<div class="main-container-signin">
      <form novalidate class="form-signin">
          <h2> Sign up!</h2>
          <label class="sr-only">Email</label>
          <input name="email" class="form-control" type="text" placeholder="Email" ng-model="user.email"/>
          <label class="sr-only">Password</label>
          <input name="password" class="form-control" type="password" placeholder="Password" ng-model="user.pass"/>          
          <label class="sr-only">RePassword</label>
          <input name="password2" class="form-control" type="password" placeholder="Retype Password"/>
          <label class="sr-only">Name</label>
          <input name="name" class="form-control" type="text" placeholder="Name" ng-model="user.name"/>
          <label class="sr-only">Surname</label>
          <input name="surname" class="form-control" type="text" placeholder="Surname" ng-model="user.surname"/>
          <label class="sr-only">Age</label>
          <input name="birth" class="form-control" type="text" placeholder="Age" ng-model="user.age"/>
          <div class="radio-inline-panel">
              <label>Gender: </label>
            <label class="radio-inline">M</label><input type="radio" name="optradio" id="carselected" ng-model="user.gender"/>
            <label class="radio-inline">F</label><input type="radio" name="optradio" id="taxiselected" ng-model="user.gender"/>
          </div>
          <button class="btn btn-lg btn-primary btn-block" ng-click="register(user)">Sign up</button>
      </form>

</div>