<section id="detail" class="home-section color-dark text-center bg-gray" ng-init="getInfo()">  
    <div class="container col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="row">
            <div class="col-lg-8">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Riepilogo Viaggio</h2>
                        <div class="divider-header"></div>
                   
                    </div>
                </div>
            
                <div class="">
                    <h5>Un viaggio proposto da {{detail.driverInfo.name}} {{detail.driverInfo.surname}}</h5>
                    <p ng-hide="commentAlert">Punteggio medio: {{feedbackAvgRate}}</p>
                    <p ng-hide="commentAlert" data-toggle="modal" data-target="#modalDriverFeed" >Vedi i commenti degli altri utenti</p>
                    <span  class="bg-info margintop-20 marginbot-20" ng-show="commentAlert" > Sembra che nessuno abbia ancora lasciato un commento su questo guidatore.</span>
                    <!-- <a class="twitter-share-button center" href="https://twitter.com/intent/tweet?text=Sto%2guardando%20un%20viaggio%20su%20Conpartir!&url=http://Conpartir03.com" data-size="large">
                        Tweet
                    </a> -->
                <dl class="dl-horizontal">
                    <dt>Partenza</dt>
                    <dd>{{travel.origin}}</dd>
                    <dt>Destinazione</dt>
                    <dd>{{travel.destination}}</dd>
                    <dt>Il giorno:</dt>
                    <dd>{{getDay(travel.data)}}</dd>
                    <dt>Alle ore:</dt>
                    <dd>{{getTime(travel.time)}} circa</dd>
                    <dt ng-show="isCarTravel">Email</dt>
                    <dd ng-show="isCarTravel"> {{detail.driverInfo.email}}</dd>
                    <dt ng-show="isCarTravel">Macchina</dt>
                    <dd ng-show="isCarTravel"> {{detail.driverCar.carModel}}</dd>                    
                    <dt ng-show="isCarTravel">Modello del</dt>
                    <dd ng-show="isCarTravel"> {{detail.driverCar.carYear}}</dd>
                </dl>
                </div>
            
            
            
            </div>
            <div class="col-lg-4">
                <img id="foto" src="{{detail.driverInfo.urlPhoto}}" alt="user image">
                <h5>Posti liberi: {{travel.freeSeats}}</h5>
                <div class="input-group row">
                    <button class="btn-lg btn-skin btn" ng-click="book()" ng-hide="ifAlert">Prenota</button>
                   
                </div>    
                    <div class="bg-danger center" ng-hide="isAuthorized" style="margin-top:5px">Devi fare il login per prenotare un viaggio. <a data-toggle="modal" data-target="#modalLogin" onclick="signOut()">Vuoi farlo ora?</a></div>
                    <div class="bg-warning center" ng-show="ifAlert" style="margin-top:5px">{{alertMsg}}</div>  
                    <div class="bg-danger center" ng-show="ifTimeAlert" style="margin-top:5px">Il viaggio sta per partire. Le prenotazioni sono chiuse.</div>
            </div> 
        </div>
    </div>    
    <div class="row col-md-6 col-md-offset-3 margintop-20 marginbot-20">   
       <leaflet center="center" defaults="defaults" event-broadcast="events" markers="markers" width="620px" height="300px">
        </leaflet> 
        <button class="btn btn-skin margintop-10"  ng-show="isTaxiTravel" ng-click="addMarkers(taxiStartMarker, taxiEndMarker)">Vedi partenza e arrivo</button>
        <button class="btn btn-skin margintop-10" ng-show="isCarTravel" ng-click="addMarkers(carStartMarker, carEndMarker); changeZoom('7')">Vedi partenza e arrivo</button>
   
    </div>
    
    <div class="row">
        <div  class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 margintop-10">
            <h4>Passeggeri del viaggio:</h4>
            <a ng-show="{{passengerList.length > 0}}" ng-repeat=" item in passengerList" class="col-md-12 center">
                <div class="col-md-1 list-group-item"><i class="glyphicon glyphicon-eye-open"></i></div> 
                <div class="col-md-6 list-group-item"> {{item.name}} </div>  <div class="col-md-5 list-group-item"> {{item.role}} </div> 
            </a>
            <span class="bg-info" ng-show="{{passengerList.length > 0}}"> Sembra che nessuno abbia ancora prenotato questo viaggio. </span>
        </div>
    </div>
      <div class="row margintop-10" >
        <span ng-hide="leaveFeedback" class="bg-danger"> {{feedAlert}} </span>
    </div>
</section>
 
    


    <!-- FeedBack -->
   
<section ng-show="leaveFeedback" id="feedback" class="home-section color-dark text-center bg-gray">      
    <div  class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h3 class="h-bold">Lascia un Feedback</h3> 
                        <div class="divider-header"></div>                    
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="input-group"> 
                <button class="btn btn-skin dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
                     Su chi vuoi lasciare il feedback?
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="item in passengerList"><a ng-click="selectClient(item)">{{item.name}} ({{item.role}})</a></li>
                </ul>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="radio-inline rating margintop-20"> 
                    <h6> Rating  </h6>
                    <span ng-click="rate(5)">☆</span><span ng-click="rate(4)">☆</span><span ng-click="rate(3)">☆</span><span ng-click="rate(2)">☆</span><span ng-click="rate(1)">☆</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
           
                <div class="form-group margintop-20">
                    <textarea ng-model="comment" name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="Commento al feedback"></textarea>
                </div>
                <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnSubmitFeed" ng-click="sendFeed()">
                    Send Message
                </button>
            </div>	
        </div>
            
    </div>
</section>
    <!-- /FeedBack -->
    
    
<!-- Modal per vedere i feedback di un guidatore -->
<div id="modalDriverFeed"  class="modal fade" role="dialog" ng-controller="DetailController">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-body">
          <h4 class="h-bold"> Commenti ricevuti dal driver: </h4>
          <dl class="dl-horizontal" ng-repeat="commenti in feedbacks">  
              <dt>Autore:</dt>
              <dd>{{commenti.nomeAutore}} {{commenti.cognomeAutore}}</dd>
              <dt>Testo:</dt>
              <dd>{{commenti.testoCommento}}</dd>
              <dt> Feedback </dt>
              <dd> {{commenti.feedBackCommento}}</dd>
          </dl> 
          <br>
           <span class="bg-info" ng-show="commentAlert" > Sembra che nessuno abbia ancora lasciato un commento su questo guidatore.</span>
                           
      </div>
    </div>

  </div>
</div>
<!-- /Modal per vedere i feedback di un guidatore -->