<div ng-init="getInfo()">  
    <div class="panel box-container col-lg-3 center"> 
        <img id="foto" src="{{detail.urlPhoto}}" alt="user image">
        <h3>Posti liberi: {{travel.freeSeats}}</h4>
        <button class="btn-lg" ng-click="book()" ng-show="allowBooking">Prenota</button>
        
        <div class="bg-danger center" ng-hide="allowBooking" style="margin-top:5px">Devi fare il login per prenotare un viaggio. <a ng-click="login()">Vuoi farlo ora?</a></div>
        
         <div class="bg-warning center" ng-show="ifAlert" style="margin-top:5px">{{alertMsg}}</div>         
         
         <div class="bg-danger center" ng-show="ifTimeAlert" style="margin-top:5px">Il viaggio sta per partire. Le prenotazioni sono chiuse.</div>
    </div>
    <div class="panel-info col-lg-9"  style="float:left">
        <div class="panel-heading center">
            <h3 class="panel-title">Riepilogo Viaggio</h3>
        </div>   
        <div class="panel-body" >
            <dl class="dl-horizontal">
                <dt>Partenza</dt>
                <dd>{{travel.origin}}</dd>
                <dt>Destinazione</dt>
                <dd>{{travel.destination}}</dd>
                <dt>Il giorno:</dt>
                <dd>{{getDay(travel.data)}}</dd>
                <dt>Alle ore:</dt>
                <dd>{{getTime(travel.time)}} circa</dd>
                <dt>Email</dt>
                <dd> {{detail.email}}</dd>
            </dl>
        </div>
    </div>
</div>
<div class="panel-body col-lg-9">
    <span> La macchina per il viaggio è una {{detail.carModel}} del {{detail.carYear}}</span>
    <h3>Feedbacks?</h3>
</div>